<p-table [loading]="(dataSource | async)!.length < 1" [value]="(dataSource | async) ?? []" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="false" [rows]="10" [showCurrentPageReport]="true" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let head of theader">{{ head }}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-foundation let-rowIndex="rowIndex">
        <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{foundation.code}}</td>
            <td>{{foundation.title}}</td>
            <td>{{foundation.type_document_title ?? 'Нет'}}</td>
            <td>
                <button *ngIf="foundation.file_original; else loggedOut" mat-button matTooltip="Скачать файл" class="bnt-tools-style-a" (click)="this">
                    <span style="text-align: center;">
                        <mat-icon>cloud_download</mat-icon>
                    </span>
                </button>
                <ng-template #loggedOut>
                    Нет
                </ng-template>
            </td>
            <td>{{foundation.date_create | date:"dd.MM.yyyy"}}</td>
            <td>{{foundation.status_title ?? 'Нет'}}</td>
            <td>{{foundation.revision}}</td>
            <td>{{foundation.responsible_name ?? 'Не назначен'}}</td>
            <td>{{foundation.note}}</td>
            <td style="width: 3%;">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu class="customize" #menu="matMenu">
                    <button mat-menu-item type="button" (click)="this.editReason(foundation)">
                        <mat-icon>edit</mat-icon>
                        <span>Редактировать основание</span>
                    </button>
                    <button mat-menu-item type="button" (click)="this.goToReasonCard(foundation)">
                        <mat-icon>details</mat-icon>
                        <span>Перейти к основанию потребности</span>
                    </button>
                    <button mat-menu-item type="button" (click)="this.deleteFoundation(foundation)">
                        <mat-icon>delete_outline</mat-icon>
                        <span>Удалить основание потребности</span>
                    </button>
                </mat-menu>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height:100px">
        </tr>
    </ng-template>
</p-table>
