<nav>
  <div class="wrapper">
    <div class="section">
      <div class="row">
        <div class="row">
          <div class="img-logo"></div>
          <div class="img-logo-text"></div>
        </div>
        <!-- <button mat-button class="section-item">
          <mat-icon class="material-icons-outlined">menu_open</mat-icon>
        </button> -->
        <button mat-button [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/home" class="item-button" >Главная</button>
        <button mat-button class="item-button">Пользователи</button>
        <button mat-button [matMenuTriggerFor]="menu" class="item-button-menu">Справочники</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Номенклатура НСИ</button>
            <button mat-menu-item>Справочник номенклатур</button>
            <button mat-menu-item>Экспедайтинг</button>
            <button mat-menu-item>Справочник макропоказателей</button>
            <button mat-menu-item>Типовые пакеты работ</button>
            <button mat-menu-item>Правила подбора НСИ</button>
          </mat-menu>
      </div>
    </div>
    <div class="section">
      <!-- <button mat-button [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/home" class="item-button" >Главная</button>
      <button mat-button class="item-button">Пользователи</button>
      <button mat-button [matMenuTriggerFor]="menu" class="item-button-menu">Справочники</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Номенклатура НСИ</button>
          <button mat-menu-item>Справочник номенклатур</button>
          <button mat-menu-item>Экспедайтинг</button>
          <button mat-menu-item>Справочник макропоказателей</button>
          <button mat-menu-item>Типовые пакеты работ</button>
          <button mat-menu-item>Правила подбора НСИ</button>
        </mat-menu> -->
    </div>
    <div class="section">
      <button mat-button [matMenuTriggerFor]="options" class="item-button-menu">Настройки
        <mat-icon class="material-icons-outlined">tune</mat-icon>
      </button>
        <mat-menu #options="matMenu">
          <button mat-menu-item>Профиль</button>
          <button mat-menu-item>Тёмный режим</button>
          <button mat-menu-item>Выход</button>
        </mat-menu>
    </div>
  </div>
</nav>