// @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Jura:wght@300..700&family=Play:wght@400;700&family=Unbounded:wght@200..900&display=swap');
$_padding-10: 10px;
$_bg-color: #eb8b2d;
.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: $_bg-color;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    z-index: 2;
    .material-icons-outlined {
        height: 21px;
    }
    .item-button,
    .item-button-menu {
        color: #464646;
        background: none;
        border: 1px solid #eb8c2d00;
        padding: $_padding-10;
        border-radius: 8px;
        // font-family: "Caviar Dreams", sans-serif;
        // transform: scaleX(0.8);
        transition: .2s ease-in-out;
        &:focus {
            box-shadow: none;
            border: 1px solid $_bg-color;
        }
        &:hover {
            opacity: .5;
        }
    }
    .link-active {
        color: #fff;
        // background: #ffffff73;
        // box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .row {
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 100px;
        .img-logo {
            background: url('./../../assets/logo.png');
            background-size: 100% 100%;
            width: 30px;
            height: 30px;
            margin: 5px;
        }
        .img-logo-text {
            background: url('./../../assets/text-logo.png');
            background-size: 100% 100%;
            width: 70px;
            height: 25px;
            margin: 5px;
        }
    }
}
