<app-header></app-header>
<div class="wrapper-fluid">
    <div class="row" style="display: flex;">
       <div class="menu-max" [ngClass]="{ 'menu-content': menu.isCollapsed,'full-menu-min': menu.isFull }">
        <app-menu></app-menu>
       </div>
       <div class="wapper-content" [ngClass]="{ 'content-min': menu.isCollapsed }">
            <section>
                <div class="wrapper-tools">
                    <div class="tools-item">
                        <h2 class="item-title">Критичность поставки</h2>
                        <span class="item-description">Информационный раздел</span>
                    </div>
                    <div class="tools-item" style="display: flex;">
                        <button mat-button matTooltip="Добавить объект" class="bnt-tools-style-a" (click)="dialog.isOpen();addSection_1();">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </section>
            <div class="content">
                <p-table [value]="dataSource" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [tableStyle]="{'min-width': '50rem'}"currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:25%" *ngFor="let head of theader">{{ head.header }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-cd let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{cd.name}}</td>
                            <td>
                                <span *ngIf="cd.is_default == true">
                                    <button mat-icon-button><mat-icon style="color: green;">check_circle_outline</mat-icon></button>
                                </span>
                                <span *ngIf="cd.is_default == false">
                                    <button mat-icon-button><mat-icon style="color: red;">highlight_off</mat-icon></button>
                                </span>
                            </td>
                            <td>{{cd.note}}</td>
                            <td>
                              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item  (click)="editCriticalityDelivery(cd); dialog.isOpen();addSection_2()">
                                  <mat-icon class="mat-menu-icon">edit</mat-icon>
                                  <span>Редактировать</span>
                                </button>
                                <button mat-menu-item (click)="delCriticalityDelivery(cd)">
                                  <mat-icon class="mat-menu-icon-del">clear</mat-icon>
                                  <span class="delete">Удалить</span>
                                </button>
                              </mat-menu>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="static-bar"></div>

            <p-dialog header="Header" 
            styleClass="modal-element" 
            [style]="{ 'width': dialog.isMaximized ? '100vw' : '30vw' }" 
            [(visible)]="dialog.openDialog" 
            [position]="dialog.position" 
            [draggable]="false" 
            [maximizable]="false" 
            [closable]="false"
            [modal]="false">
              <ng-template pTemplate="header">
                <div class="header-d-flex">
                  <div>
                    <h2>{{ section == 'section-1' ? 'Добавить критичность поставки' : 'Изменить критичность поставки'}}</h2>
                  </div>
                  <div class="button-d-flex">
                    <div>
                      <button class="mat-btn-resize" (click)="dialog.toggleMaximize()">
                        <mat-icon *ngIf="dialog.isMaximized">call_received</mat-icon>
                        <mat-icon *ngIf="!dialog.isMaximized">call_made</mat-icon>
                      </button>    
                    </div>
                    <div>
                      <button class="mat-btn-exit" mat-stroked-button (click)="dialog.openDialog = false;">
                        <mat-icon class="bnt-close">close</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
              <div class="form-wrapper" *ngIf="section == 'section-1'">
                <form [formGroup]="cdForm">
                    <div class="common">
                      <div class="column-a">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="name"> 
                            <label for="float-input">Название:</label>
                        </span>
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="note"> 
                            <label for="float-input">Комментарий:</label>
                        </span>
                        <span style="margin-bottom: 15px;display: block;">
                          <p-checkbox name="is_default" binary="true" formControlName="is_default" label="По умолчанию"></p-checkbox>
                        </span>
                        <button mat-stroked-button class="bnt-save" (click)="addCriticalityDelivery()">
                            <span class="save-color">Добавить</span>
                        </button>
                      </div>
                    </div>
                </form>
              </div>
              <div class="form-wrapper" *ngIf="section == 'section-2'">
                <form [formGroup]="cdForm">
                  <div class="common">
                    <div class="column-a">
                      <span class="p-float-label">
                          <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="name"> 
                          <label for="float-input">Название:</label>
                      </span>
                      <span class="p-float-label">
                          <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="note"> 
                          <label for="float-input">Комментарий:</label>
                      </span>
                      <span style="margin-bottom: 15px;display: block;">
                        <p-checkbox name="is_default" binary="true" formControlName="is_default" label="По умолчанию"></p-checkbox>
                      </span>
                      <button mat-stroked-button class="bnt-save" (click)="saveCriticalityDelivery()">
                          <span class="save-color">Сохранить</span>
                      </button>
                    </div>
                  </div>
              </form>
              </div>
            </p-dialog>

          </div>
      </div>
  </div>