a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 5px;
}
.wrapper {
    width: 85px;
    height: 85px;
}
.logo {
    overflow: hidden;
}
.logo img {
    width: auto;
    height: 100%;
    margin: 0px 0 0 0px;
}
.link-active {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    background: #fff;
    color: #eb8b2d;
    text-decoration: none;
    a {
        text-decoration: none;
        color: #fff;
    }
}
.scroll {
    padding: 15px;
}
::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action > .p-icon-wrapper {
    // opacity: 0;
    display: none;
}
::ng-deep.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
    color: #000;
    padding: 1.1rem;
    padding-left: 10px;
    padding-right: 10px;
}
::ng-deep .p-panelmenu .p-panelmenu-header:not(.p-disabled).p-highlight .p-panelmenu-header-content {
    background: #ffffff00;
}
::ng-deep .p-highlight  {
    background: #eb8b2d;
    color: #fff;
  }
::ng-deep.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
    background: #ffffff00;
    :hover {
        background: #f5f5f5;
    }
}
::ng-deep .p-panelmenu .p-panelmenu-content {
    background: #ffffff3d;
}
::ng-deep .p-panelmenu .p-panelmenu-panel {
    box-shadow: none;
}
::ng-deep .menu-min > .p-panelmenu .p-panelmenu-panel {
    width: 120px;
}
::ng-deep .menu-min > .p-panelmenu .p-panelmenu-header-action {
    flex-direction: column;
}
.menu-min {
    ::ng-deep .menu-min .p-panelmenu .p-menuitem-text {
        display: none !important;
    }
    a {
        font-size: 12px;
    }
    .p-menu-header {
        display: none;
    }
    .dropdown {
        display: block;
        width: 120px;
        margin-left: 24px;
    }
}
.dropdown {
    display: none;
}
.p-menu-header {
    display: flex;
}

.dropdown:hover .dropdown-content {
  opacity: 1; /* измените display: block на opacity: 1 */
  pointer-events: auto; /* позволит взаимодействовать с элементом при наведении */
}
.dropdown:hover
.dropdown-content {
  display: block;
}
.dropdown-content a {
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: var(--theme-menu-content-bg);
}
.dropdown-content {
  height: 100vh;
  opacity: 0; /* измените display: none на opacity: 0 */
  top: 0px;
  position: fixed;
  background-color: #fff;
  min-width: 200px;
  max-width: 300px;
  padding-top: 50px;
  z-index: 2;
  margin-left: 120px;
  margin-top: 0px;
  box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.2);
  transition: opacity 0.005s ease; /* добавьте это для анимации прозрачности */
  pointer-events: none; /* чтобы скрытый элемент не блокировал другие элементы */
}
.dropbtn {
    background: var(--theme-menu-smoll-bg);
    color: #000;
    padding: 12px;
    width: 120px;
    font-size: 0px;
    border: none;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

$width: 13.4vw;
$smoll-width: 120px;
.wrapper-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: $width;
    top: 0px;
    height:100vh;
    background: #fff;
    // .wrapper-navbar-decor {
    //     position: relative;
    //     width: $width;
    //     height: 5px;
    //     bottom: -27px;
    //     background: #ec8b2d;
    // }
    .wrapper-navbar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: $width;
        height: 40px;
        background: #fff;
        color: #fff;
        box-shadow: 0 4px 10px #00000010, 0 0 2px #0000000f, 0 2px 6px #0000001f;
    }
    .wrapper-navbar-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 225px;
        margin-left: 25px;
        .footer-nav-button {
              margin: 5px 0px 5px 0px;
              width: 12vw;
              display: flex;
              justify-content: flex-start;
              .footer-nav-button:hover {
                  background: rgba(255, 255, 255, 0.9) !important;
              }
        }
        .link-max {
            width: 193px;
        }
        .footer-nav-link {
            color: #000;
        }
        .ac-nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .link-icon {
            margin-right: 10px;
            font-size: 20px;
            vertical-align: middle;
        }
        .icon-smoll {
            margin-right: 0px;
        }
      }
      .arrow {
        //   position: absolute;
        //   bottom: 0px;
        //   margin-left: auto;
        //   margin-right: auto;
        //   left: 0;
        //   right: 0;
        //   text-align: center;
          background: none;
          border: none;
          color: #000;
          border-radius: 5px;
          padding-top: 5px;
        //   padding-bottom: 10px;
      }
      .arrow:hover {
          background: #B5DCA4;
      }
  }
.menu-animation {
    transition: all .2s ease-in-out;
    z-index: 1;
}
.ac-container {
    padding: 15px;
    color: #6c6c6c;
    font-family: "Caviar Dreams" !important;
    font-weight: bold;
    margin: auto;
    margin-bottom: 0px;
}
.link-article {
    width: 195px;
}
.article-link-smoll {
    width: auto;
}


@media (max-width: 991px) {
    .desktop-nav {
        display: none !important;
    }
    .mobile-nav {
        display: flex !important;
        justify-content: space-between;
        position: absolute;
        width: 80%;
        right: 10%;
    }
}
  
@media (min-width: 1024px) and (max-width: 1440px) { 
    .wrapper-navbar {
        width: 18.5%;
    }
}