<app-header></app-header>
<div class="wrapper-fluid">
    <div class="row" style="display: flex;">
        <div class="menu-max" [ngClass]="{ 'menu-content': menu.isCollapsed,'full-menu-min': menu.isFull }">
            <app-menu></app-menu>
        </div>
        <div class="wapper-content" [ngClass]="{ 'content-min': menu.isCollapsed }">
            <section>
                <div class="wrapper-tools">
                    <div class="tools-item">
                        <h2 class="item-title">Карточка потребности. {{need.value!.code}} {{need.value!.title}}. {{tabs.get(activeIndex)}}</h2>
                        <span class="item-description">Информационный раздел</span>
                    </div>
                    <!-- <div class="tools-item" style="display: flex;">
                        <button mat-button matTooltip="Добавить лот" class="bnt-tools-style-a" (click)="this; dialog.isOpen()">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                                Создать карточку потребности
                            </span>
                        </button>
                        <button mat-button matTooltip="Автоформирование лотов" class="bnt-tools-style-a" (click)="this; dialog.isOpen()">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                                Создать на основании
                            </span>
                        </button>
                    </div> -->
                </div>
            </section>
            <div class="content">
                <p-tabView [(activeIndex)]="activeIndex">
                    <p-tabPanel header="Общее">
                        <ng-container *ngTemplateOutlet="mainTable"></ng-container>
                        <p-table [loading]="!need.value" [value]="[need.value]" styleClass="p-datatable-sm p-datatable-gridlines" 
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let head of theaderFirstGeneral">{{ head }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-dataCurrency>
                                <tr>
                                    <td>{{dataCurrency.quantity_plan}}</td>
                                    <td>{{dataCurrency.quantity_fact}}</td>
                                    <td>{{dataCurrency.unit_measure_title}}</td>
                                    <td>{{dataCurrency.code}}</td>
                                    <td>{{dataCurrency.place_delivery_title}}</td>
                                    <td>{{dataCurrency.critical_delivery_title}}</td>
                                    <td>{{dataCurrency.additional_characteristics}}</td>
                                    <td>{{dataCurrency.manufacturer}}</td>
                                    <td>{{dataCurrency.note}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <p-table [loading]="!need.value" [value]="[need.value]" styleClass="p-datatable-sm p-datatable-gridlines" 
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let head of theaderSecondGeneral">{{ head }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-dataCurrency>
                                <tr>
                                    <td>{{''}}</td>
                                    <td>{{''}}</td>
                                    <td>{{''}}</td>
                                    <td>{{''}}</td>
                                    <td>{{''}}</td>
                                    <td style="width: 3%;">
                                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu class="customize" #menu="matMenu">
                                            <button mat-menu-item type="button" (click)="this">
                                                <mat-icon>details</mat-icon>
                                                <span>Перейти к пакету СДР</span>
                                            </button>
                                        </mat-menu>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <p-table [loading]="!need.value" [value]="[need.value]" styleClass="p-datatable-sm p-datatable-gridlines" 
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let head of theaderThirdGeneral">{{ head }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-dataCurrency>
                                <tr>
                                    <td>{{dataCurrency.wbs_code}}</td>
                                    <td>{{dataCurrency.title_rbi}}</td>
                                    <td>{{dataCurrency.code_nomenclature}}</td>
                                    <td>{{dataCurrency.group_nomenclature}}</td>
                                    <td>{{dataCurrency.subgroup_nomenclature}}</td>
                                    <td>{{dataCurrency.securing_delivery_reference}}</td>
                                    <td>{{dataCurrency.securing_delivery_contract}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                    <p-tabPanel header="Связаные документы">
                    </p-tabPanel>
                    <p-tabPanel header="Исходные данные">
                    </p-tabPanel>
                    <p-tabPanel header="Состав лота">
                    </p-tabPanel>
                    <p-tabPanel header="График">
                    </p-tabPanel>
                    <p-tabPanel header="Стоимость">
                        <ng-container *ngTemplateOutlet="mainTable"></ng-container>
                        <p-table [loading]="!need.value" [value]="[need.value]" styleClass="p-datatable-sm p-datatable-gridlines" 
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let head of theaderFirstPrice">{{ head }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-dataCurrency>
                                <tr>
                                    <td>{{dataCurrency.quantity_plan}}</td>
                                    <td>{{dataCurrency.quantity_request}}</td>
                                    <td>{{dataCurrency.quantity_fact}}</td>
                                    <td>{{dataCurrency.unit_measure_title}}</td>
                                    <td>{{dataCurrency.place_delivery_title}}</td>
                                    <td>{{dataCurrency.critical_delivery_title}}</td>
                                    <td>{{dataCurrency.note}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <p-table [loading]="!need.value" [value]="[need.value]" styleClass="p-datatable-sm p-datatable-gridlines" 
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let head of theaderSecondPrice">{{ head }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-dataCurrency>
                                <tr>
                                    <td>{{dataCurrency.price_unit_plan}}</td>
                                    <td>{{dataCurrency.price_unit_predict}}</td>
                                    <td>{{dataCurrency.deviation_unit_predict_from_plan}}</td>
                                    <td>{{dataCurrency.price_unit_result_auction}}</td>
                                    <td>{{dataCurrency.deviation_unit_auction_from_predict}}</td>
                                    <td>{{dataCurrency.price_unit_contract}}</td>
                                    <td>{{dataCurrency.price_unit_agreed_contractor}}</td>
                                    <td>{{dataCurrency.price_unit_fact}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <p-table [loading]="!need.value" [value]="[need.value]" styleClass="p-datatable-sm p-datatable-gridlines" 
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let head of theaderThirdPrice">{{ head }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-dataCurrency>
                                <tr>
                                    <td>{{dataCurrency.cost_plan}}</td>
                                    <td>{{dataCurrency.cost_predict}}</td>
                                    <td>{{dataCurrency.deviation_cost_predict_from_plan}}</td>
                                    <td>{{dataCurrency.cost_result_auction}}</td>
                                    <td>{{dataCurrency.deviation_cost_auction_from_predict}}</td>
                                    <td>{{dataCurrency.cost_contract}}</td>
                                    <td>{{dataCurrency.cost_agreed_contractor}}</td>
                                    <td>{{dataCurrency.cost_fact}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                    <p-tabPanel header="Договор">
                    </p-tabPanel>
                    <p-tabPanel header="Экспедайтинг">
                    </p-tabPanel>
                    <p-tabPanel header="Склад">
                    </p-tabPanel>
                    <p-tabPanel header="Документация">
                    </p-tabPanel>
                    <p-tabPanel header="Технические характеристики">
                    </p-tabPanel>
                    <p-tabPanel header="История изменений">
                    </p-tabPanel>
                </p-tabView>
                <ng-template #mainTable>
                    <p-table [loading]="!need.value" [value]="[need.value]" styleClass="p-datatable-sm p-datatable-gridlines" 
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let head of theader">{{ head }}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dataCurrency>
                            <tr>
                                <td>{{dataCurrency.code}}</td>
                                <td>{{dataCurrency.title}}</td>
                                <td>{{dataCurrency.type_need_position_title}}</td>
                                <td>{{dataCurrency.type_works_title}}</td>
                                <td>{{dataCurrency.status_title }}</td>
                                <td>{{dataCurrency.division_title}}</td>
                                <td>{{dataCurrency.necessary_initial_data ? 'Да' : 'Нет'}}</td>
                                <td style="width: 3%;">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu class="customize" #menu="matMenu">
                                        <button mat-menu-item type="button" (click)="this.goToReasonCard(dataCurrency.need_reason)">
                                            <mat-icon>details</mat-icon>
                                            <span>Перейти к основанию потребности</span>
                                        </button>
                                        <button mat-menu-item type="button" (click)="activeIndex === 0 ? this.openEditNeedCardGeneralDialog(dataCurrency) : this.openEditNeedCardCostDialog(dataCurrency)">
                                            <mat-icon>edit</mat-icon>
                                            <span>Редактировать карточку потребности</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-template>
            </div>
            <p-dialog header="Header" 
                styleClass="modal-element" 
                [style]="{ 'width': dialog.isMaximized ? '100vw' : '30vw' }" 
                [(visible)]="dialog.openDialog" 
                [position]="dialog.position" 
                [draggable]="false" 
                [maximizable]="false" 
                [closable]="false"
                [modal]="false">
                <ng-template pTemplate="header">
                    <div class="header-d-flex">
                        <div>
                            <h2>{{ dialogs.get(dialogStateSubj.value) }}</h2>
                        </div>
                    <div class="button-d-flex">
                        <div>
                            <button class="mat-btn-resize" (click)="dialog.toggleMaximize()">
                                <mat-icon *ngIf="dialog.isMaximized">call_received</mat-icon>
                                <mat-icon *ngIf="!dialog.isMaximized">call_made</mat-icon>
                            </button>    
                        </div>
                        <div>
                            <button class="mat-btn-exit" mat-stroked-button (click)="dialog.openDialog = false;">
                                <mat-icon class="bnt-close">close</mat-icon>
                            </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <div class="form-wrapper" *ngIf="(dialogState$ | async) === 'editNeedCardGeneral'">
                    <form [formGroup]="needCardGeneralForm">
                        <div class="common">
                            <div class="column-a">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" aria-describedby="float-input-help" pInputText class="p-inputtext-sm lg" formControlName="title"> 
                                    <label for="float-input">Название карточки потребности:</label>
                                </span>
                                <span class="p-float-label">
                                    <input id="float-input" type="text" aria-describedby="float-input-help" pInputText class="p-inputtext-sm lg" formControlName="additional_characteristics"> 
                                    <label for="float-input">Дополнительный анализ:</label>
                                </span>
                                <span class="p-float-label">
                                    <input id="float-input" type="number" aria-describedby="float-input-help" pInputText class="p-inputtext-sm lg" formControlName="quantity_plan"> 
                                    <label for="float-input">Количество план:</label>
                                </span>
                                <span class="p-float-label">
                                    <input id="float-input" type="number" aria-describedby="float-input-help" pInputText class="p-inputtext-sm lg" formControlName="quantity_fact"> 
                                    <label for="float-input">Количество факт:</label>
                                </span>
                                <!-- добавить necessary_initial_data -->
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="positionDocumentTypes" optionLabel="title" optionValue="id" formControlName="type_need_position"></p-dropdown>
                                    <label for="float-input">Тип документа основания:</label>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="positionStatuses" optionLabel="title" optionValue="id" formControlName="status"></p-dropdown>
                                    <label for="float-input">Статус потребности:</label>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="deliveryTypes" optionLabel="title" optionValue="id" formControlName="critical_delivery"></p-dropdown>
                                    <label for="float-input">Критичность поставки:</label>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="workTypes" optionLabel="title_unit" optionValue="id" formControlName="type_works"></p-dropdown>
                                    <label for="float-input">Вид работ:</label>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="divisions" optionLabel="title_unit" optionValue="id" formControlName="division"></p-dropdown>
                                    <label for="float-input">Подразделение:</label>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="placeDeliveries" optionLabel="title_unit" optionValue="id" formControlName="place_delivery"></p-dropdown>
                                    <label for="float-input">Место поставки:</label>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="measureUnits" optionLabel="title_unit" optionValue="id" formControlName="unit_measure"></p-dropdown>
                                    <label for="float-input">Единица измерения:</label>
                                </span>
                                <button mat-stroked-button class="bnt-save" (click)="editNeedCardGeneral(needCardGeneralForm.value); dialog.openDialog = false; this.needCardGeneralForm.reset()" [disabled]="!needCardGeneralForm.get('title')?.value || !needCardGeneralForm.get('additional_characteristics')?.value">
                                    <span class="save-color">Редактировать</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-wrapper" *ngIf="(dialogState$ | async) === 'editNeedCardCost'">
                    <form [formGroup]="needCardCostForm">
                        <div class="common">
                            <div class="column-a">
                                <span class="p-float-label">
                                    <input id="float-input" type="number" aria-describedby="float-input-help" pInputText class="p-inputtext-sm lg" formControlName="quantity_plan"> 
                                    <label for="float-input">Количество план:</label>
                                </span>
                                <span class="p-float-label">
                                    <input id="float-input" type="number" aria-describedby="float-input-help" pInputText class="p-inputtext-sm lg" formControlName="price_unit_plan"> 
                                    <label for="float-input">Цена за единицу план:</label>
                                </span>
                                <span class="p-float-label">
                                    <input id="float-input" type="number" aria-describedby="float-input-help" pInputText class="p-inputtext-sm lg" formControlName="price_unit_predict"> 
                                    <label for="float-input">Цена за единицу прогноз:</label>
                                </span>
                                <span class="p-float-label">
                                    <input id="float-input" type="number" aria-describedby="float-input-help" pInputText class="p-inputtext-sm lg" formControlName="price_unit_fact"> 
                                    <label for="float-input">Фактическая цена:</label>
                                </span>
                                <button mat-stroked-button class="bnt-save" (click)="editNeedCardCost(needCardCostForm.value); dialog.openDialog = false; this.needCardCostForm.reset()">
                                    <span class="save-color">Редактировать</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </p-dialog>
        </div>
    </div>
</div>

