::ng-deep .green-bar{
    --mdc-snackbar-container-color: #e4f8f0 !important;
    --mdc-snackbar-supporting-text-color: #1ea97c !important;
    --mat-snack-bar-button-color: #1ea97c;
    border-left: 4px solid #1ea97c;
 }
 ::ng-deep .red-bar{
    --mdc-snackbar-container-color: #ffe7e6 !important;
    --mdc-snackbar-supporting-text-color: #ff5757 !important;
    --mat-snack-bar-button-color: #ff5757;
    border-left: 4px solid #ff5757;
 }
 ::ng-deep .blue-bar{
    --mdc-snackbar-container-color: #eff6fff2 !important;
    --mdc-snackbar-supporting-text-color: #2563eb !important;
    --mat-snack-bar-button-color: #2563eb;
    border-left: 4px solid #2563eb;
 }
 ::ng-deep .mdc-snackbar__surface {
    border-radius: 0px 5px 5px 0px !important;
 }