<p-table [value]="(dataSource | async) ?? []" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let head of theader">{{ head }}</th>
            <th>
                <button mat-icon-button matTooltip="Настроить отображение колонок" (click)="this">
                    <mat-icon>library_add</mat-icon>
                </button>
                Действия
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-foundation let-rowIndex="rowIndex">
        <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{foundation.code}}</td>
            <td>{{foundation.title}}</td>
            <td>{{foundation.wbs_code ?? 'Не назначен'}}</td>
            <td>{{foundation.type_need_position_title}}</td>
            <td>{{foundation.status_title}}</td>
            <td>{{foundation.need_reason_title}}</td>
            <td>{{foundation.code_rbi}}</td>
            <td>{{foundation.quantity_plan}}</td>
            <td>{{foundation.unit_measure_title}}</td>
            <td>{{foundation.documents}}</td>
            <td style="width: 3%;">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu class="customize" #menu="matMenu">
                    <button mat-menu-item type="button" (click)="this.goToNeedCard(foundation)">
                        <mat-icon>details</mat-icon>
                        <span>Перейти к карточке потребности</span>
                    </button>
                    <button mat-menu-item type="button" (click)="this.editReason(foundation)">
                        <mat-icon>edit</mat-icon>
                        <span>Редактировать позицию потребности</span>
                    </button>
                    <button mat-menu-item type="button" (click)="this.deleteFoundation(foundation)">
                        <mat-icon>delete_outline</mat-icon>
                        <span>Удалить позицию потребности</span>
                    </button>
                </mat-menu>
            </td>
        </tr>
    </ng-template>
</p-table>
