<div class="login-page" *ngIf="!auth.token">
    <div class="login-screen"></div>
    <header class="header">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <div class="logo-wrapper">
            <!-- <img src="../../../../assets/img/logo.png" class="image" /> -->
            <div class="title-logo">
              <!-- <img src="../../assets/img/text-logo-start.png" class="image" style="width: 65px;" /> -->
              <!-- <span style="color: #eb8b2d;">UMMC</span>
              <span>УГМК</span> -->
            </div>
          </div>
          <span class="navbar-text">У вас нет учетной записи?
            <button class="btn-in" routerLink="/signup" mat-raised-button>Регистрация</button>
          </span>
        </div>
      </nav>
    </header>
    <div class="col section">
    <div class="container">
        <div class="login-wrapper">
          <div class="login-form">
            <div class="col text-center">
              <h1 class="title">С возвращением!</h1>
            </div>
            <div class="login-inner">
              <form (ngSubmit)="login()" #loginForm="ngForm" style="display: flex;flex-direction: column;">
              <label for="" style="font-size: 12px;">Login</label>
              <!-- <span class="p-float-label">
                <input id="float-input" type="text" pInputText class="p-inputtext-sm" formControlName="username" [(ngModel)]="username" required> 
                <label for="float-input">Введите Ваш логин:</label>
              </span> -->
              <mat-form-field appearance="outline">
                <mat-label>Введите Ваш логин</mat-label>
                <input matInput type="text" placeholder="Имя пользователя" name="username" [(ngModel)]="username" required>
              </mat-form-field>
              <div class="alert alert-danger text-center" *ngIf="formSubmitted && !username">
                Поле 'Login' не может быть пустым
              </div>
    
              <label for="" style="font-size: 12px;">Password</label>
              <!-- <span class="p-float-label">
                <input id="float-input" pInputText class="p-inputtext-sm"[type]="hide ? 'password' : 'text'" placeholder="Пароль" name="password" required [(ngModel)]="password"> 
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <label for="float-input">Введите Ваш логин:</label>
              </span> -->
              <mat-form-field appearance="outline">
                <mat-label>Введите пароль</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Пароль" name="password" required [(ngModel)]="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div class="alert alert-danger text-center" *ngIf="formSubmitted && !password">
                Поле 'Password' не может быть пустым
              </div>
    
              <button class="btn-in" type="submit" mat-raised-button>Войти</button><br>
              <div class="alert alert-danger text-center" *ngIf="formSubmitted && messageError">
                {{ messageError }}
              </div>
              <span class="text-center">У вас нет учетной записи?<a routerLink="/signup" class="link-auth"> Зарегистрироваться</a></span>
              <a class="text-center link-auth" routerLink="/restore"><span class="text-center">Забыли пароль?</span></a>
            </form>
            </div>
          </div>
        </div>
    </div>
    </div>
    </div>
        <div class="row" *ngIf="auth.token"><div class="col" *ngIf="router.url === '/login'">
          <div class="col-sm-12">Вы вошли как {{ username }}.<br />
            Token Expires: {{ auth.token_expires }}<br />
            <button (click)="refreshToken()" class="btn btn-primary">Refresh Token</button>
            <button (click)="logout()" class="btn btn-primary">Log Out</button>
            <button routerLink="/application" class="btn btn-primary">Продолжить</button>
          </div>
        </div>
      </div>
    
    
    
    