.login-page {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow-y: auto;
    background-color: #fafbfc;
}
.login-wrapper {
    position: relative;
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}
.login-form {
    width: 480px;
    padding: 35px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 24px 64px #26214a1a;
}
.login-screen {
    position: fixed;
    height: 100cqh;
    width: 100%;
    background: linear-gradient(325deg, rgba(2,0,38,0) 0%, rgba(248,249,250,0.5) 35%, rgba(248,249,250,1) 100%);
}
.title-logo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
}
.logo-wrapper {
    width: 80px;
    display: flex;
    align-items: center;
 }
 .image {
    display: inline-block;
    width: 100%;
 }
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background: url('../../../../assets/img/bglogin.jpg');
    background-size: 25%;
}
.container-fluid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.login-inner {
    display: flex;
    flex-direction: column;
}
.title {
    padding-top: 10px;
    padding-bottom: 30px;
}
.btn-in {
    padding: 10px;
    background: #eb8b2d !important;
}
.link-auth {
    text-decoration: none;
    color: #cd441f;
}
.link-auth:hover {
    color: #EB8B2D;
}


