// ::ng-deep #pn_id_1_content > p-treetable > div > div > table > thead > tr > th:nth-child(2) {
//     width: 20% !important;
// }
::ng-deep .p-treetable table {
    table-layout: auto;
}
::ng-deep .p-treetable .p-treetable-tbody > tr > td {
    width: 250px;
}
::ng-deep.p-tabview .p-tabview-nav .p-tabview-ink-bar {
    z-index: 0;
}