<app-header></app-header>
<div class="wrapper-fluid">
    <div class="row" style="display: flex;">
       <div class="menu-max" [ngClass]="{ 'menu-content': menu.isCollapsed,'full-menu-min': menu.isFull }">
        <app-menu></app-menu>
       </div>
       <div class="wapper-content" [ngClass]="{ 'content-min': menu.isCollapsed }">
            <section>
                <div class="wrapper-tools">
                    <div class="tools-item">
                        <h2 class="item-title">Номенклатура НСИ</h2>
                        <span class="item-description">Информационный раздел</span>
                    </div>
                    <div class="tools-item" style="display: flex;">
                        <!-- <button mat-button matTooltip="Добавить объект" class="bnt-tools-style-a" (click)="dialog.isOpen();addSection_1()">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                            </span>
                        </button> -->
                    </div>
                </div>
            </section>
            <div class="content">
                <p-tabView>
                    <p-tabPanel header="Классы и группы МТР">

                        <p-treeTable [value]="newDataSource" [reorderableColumns]="true" [resizableColumns]="true" styleClass="p-treetable-sm">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let head of theader">{{ head.header }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-newDataSource let-rowData="rowData" let-rowIndex="rowIndex">
                                <tr [ttRow]="newDataSource">
                                    <td>
                                        <p-treeTableToggler [rowNode]="newDataSource"></p-treeTableToggler>
                                        {{rowData.level}} Уровень
                                    </td>
                                    <!-- <td>{{rowData.level}} </td> -->
                                    <td>{{rowData.name_ru}} {{rowData.name}}</td>
                                    <td>{{rowData.note}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-treeTable>

                    </p-tabPanel>
                    <p-tabPanel header="МТР">
                      <p>
                        Tab2
                      </p>
                    </p-tabPanel>
                    <p-tabPanel header="Классы услуг">
                      <p>
                        Tab3
                      </p>
                    </p-tabPanel>
                    <p-tabPanel header="Услуги">
                      <p>
                        Tab4
                      </p>
                      </p-tabPanel>
                  </p-tabView>
            </div>
            <div class="static-bar"></div>
          </div>
      </div>
  </div>