<p-dialog header="Header" 
            styleClass="modal-element" 
            [style]="{ 'width': dialog.isMaximized ? '100vw' : '30vw' }" 
            [(visible)]="dialog.openDialog" 
            [position]="dialog.position" 
            [draggable]="false" 
            [maximizable]="false" 
            [closable]="false"
            [modal]="false">
    <ng-template pTemplate="header">
        <div class="header-d-flex">
            <div>
                <h2></h2>
            </div>
            <div class="button-d-flex">
                <div>
                    <button class="mat-btn-resize" (click)="dialog.toggleMaximize()">
                        <mat-icon *ngIf="dialog.isMaximized">call_received</mat-icon>
                        <mat-icon *ngIf="!dialog.isMaximized">call_made</mat-icon>
                    </button>    
                </div>
                <div>
                    <button class="mat-btn-exit" mat-stroked-button (click)="dialog.openDialog = false;">
                        <mat-icon class="bnt-close">close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
    <!-- <div class="form-wrapper" *ngIf="section == 'section-1'">
        <form [formGroup]="applicationStatusForm">
            <div class="common">
                <div class="column-a">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="name"> 
                        <label for="float-input">Название:</label>
                    </span>
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="note"> 
                        <label for="float-input">Комментарий:</label>
                    </span>
                    <span style="margin-bottom: 15px;display: block;">
                        <p-checkbox name="is_default" binary="true" formControlName="is_default" label="По умолчанию"></p-checkbox>
                    </span>
                    <span style="margin-bottom: 15px;display: block;">
                        <p-checkbox name="is_auto" binary="true" formControlName="is_auto" label="Автоматическое присвоение статуса позициям потребности"></p-checkbox>
                        </span>
                    <button mat-stroked-button class="bnt-save" (click)="addApplicationStatus()">
                        <span class="save-color">Добавить</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="form-wrapper" *ngIf="section == 'section-2'">
        <form [formGroup]="applicationStatusForm">
            <div class="common">
                <div class="column-a">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="name"> 
                        <label for="float-input">Название:</label>
                    </span>
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="note"> 
                        <label for="float-input">Комментарий:</label>
                    </span>
                    <span style="margin-bottom: 15px;display: block;">
                        <p-checkbox name="is_default" binary="true" formControlName="is_default" label="По умолчанию"></p-checkbox>
                    </span>
                    <span style="margin-bottom: 15px;display: block;">
                        <p-checkbox name="is_auto" binary="true" formControlName="is_auto" label="Автоматическое присвоение статуса позициям потребности"></p-checkbox>
                    </span>
                    <button mat-stroked-button class="bnt-save" (click)="saveApplicationStatus()">
                        <span class="save-color">Сохранить</span>
                    </button>
                </div>
            </div>
        </form>
    </div> -->
</p-dialog>