<app-header></app-header>
<div class="wrapper-fluid">
    <div class="row" style="display: flex;">
        <div class="menu-max" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }">
            <app-menu></app-menu>
        </div>
        <div class="wapper-content" [ngClass]="{ 'content-min': menu.isCollapsed }">
            <section>
                <div class="wrapper-tools">
                    <div class="tools-item">
                        <h2 class="item-title">Основание потребности. {{foundation$.value!.code}} Смета №1235.2 от {{foundation$.value!.date_create | date:"dd.MM.yyyy"}} по {{foundation$.value!.title}}</h2>
                        <span class="item-description">Информационный раздел</span>
                    </div>
                    <div class="tools-item" style="display: flex;">
                        <!-- <button mat-button matTooltip="Добавить основание потребности" class="bnt-tools-style-a" (click)="openAddNeedBasisDialog()">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                                Добавить основание потребности
                            </span>
                        </button>  -->
                        <button mat-button matTooltip="Вернуться" class="bnt-tools-style-a" (click)="this.router.navigate(['formation-project-needs'])">
                            <span style="text-align: center;">
                                <mat-icon>arrow_back</mat-icon>
                            </span>
                        </button>
                        <button mat-button matTooltip="Добавить позицию потребности" class="bnt-tools-style-a" (click)="openAddNeedPositionDialog()">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                                Добавить позицию потребности
                            </span>
                        </button>
                        <!-- <button mat-button matTooltip="Загрузить документ" class="bnt-tools-style-a" (click)="goDownloading()">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                                Загрузить документ
                            </span>
                        </button> -->
                    </div>
                </div>
            </section>
            <div class="content">
                <p-table [loading]="!foundation$.value" [value]="[foundation$.value]" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="false" [rows]="10" [showCurrentPageReport]="true" 
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let head of theaderReason">{{ head }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-foundation let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{foundation.code}}</td>
                            <td>{{foundation.title}}</td>
                            <td>{{foundation.type_document_title ?? 'Нет'}}</td>
                            <td>
                                <button *ngIf="foundation.file_original; else loggedOut" mat-button matTooltip="Скачать файл" class="bnt-tools-style-a" (click)="this">
                                    <span style="text-align: center;">
                                        <mat-icon>cloud_download</mat-icon>
                                    </span>
                                </button>
                                <ng-template #loggedOut>
                                    Нет
                                </ng-template>
                            </td>
                            <td>{{foundation.date_create | date:"dd.MM.yyyy"}}</td>
                            <td>{{foundation.status_title ?? 'Нет'}}</td>
                            <td>{{foundation.revision}}</td>
                            <td>{{foundation.responsible_name ?? 'Не назначен'}}</td>
                            <td>{{foundation.note}}</td>
                            <td style="width: 3%;">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu class="customize" #menu="matMenu">
                                    <button mat-menu-item type="button" (click)="this.openEditNeedBasisDialog(foundation)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Редактировать основание потребности</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody" let-columns="columns">
                        <tr style="height:100px">
                        </tr>
                    </ng-template>
                </p-table>
                <h2 style="margin-top: 16px">СОСТАВ ОСНОВАНИЯ ПОТРЕБНОСТИ</h2>
                <p-table [loading]="(needs | async)!.length < 1" [value]="(needs | async) ?? []" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="false" [rows]="10" [showCurrentPageReport]="true" 
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let head of theaderNeed">{{ head }}</th>
                            <th>
                                <button mat-icon-button matTooltip="Настроить отображение колонок" (click)="this">
                                    <mat-icon>view_column</mat-icon>
                                </button>
                                Действия
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-foundation let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{foundation.code}}</td>
                            <td>{{foundation.title}}</td>
                            <td>{{foundation.wbs_code ?? 'Не назначен'}}</td>
                            <td>{{foundation.type_need_position_title}}</td>
                            <td>{{foundation.status_title}}</td>
                            <td>{{foundation.need_reason_title}}</td>
                            <td>{{foundation.code_rbi}}</td>
                            <td>{{foundation.quantity_plan}}</td>
                            <td>{{foundation.unit_measure_title}}</td>
                            <td>{{foundation.documents}}</td>
                            <td style="width: 3%;">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu class="customize" #menu="matMenu">
                                    <button mat-menu-item type="button" (click)="this.openEditNeedPositionDialog(foundation)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Редактировать позицию потребности</span>
                                    </button>
                                    <button mat-menu-item type="button" (click)="this.deleteNeedPosition(foundation.id)">
                                        <mat-icon>delete_outline</mat-icon>
                                        <span>Удалить позицию потребности</span>
                                    </button>
                                    <button mat-menu-item type="button" (click)="this">
                                        <mat-icon>details</mat-icon>
                                        <span>Перейти к карточке потребности</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody" let-columns="columns">
                        <tr style="height:100px">
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="static-bar"></div>

            <p-dialog header="Header" 
                styleClass="modal-element" 
                [style]="{ 'width': dialog.isMaximized ? '100vw' : '30vw' }" 
                [(visible)]="dialog.openDialog" 
                [position]="dialog.position" 
                [draggable]="false" 
                [maximizable]="false" 
                [closable]="false"
                [modal]="false">
                <ng-template pTemplate="header">
                    <div class="header-d-flex">
                        <div>
                            <h2>{{ dialogs.get(dialogStateSubj.value) }}</h2>
                        </div>
                    <div class="button-d-flex">
                        <div>
                            <button class="mat-btn-resize" (click)="dialog.toggleMaximize()">
                                <mat-icon *ngIf="dialog.isMaximized">call_received</mat-icon>
                                <mat-icon *ngIf="!dialog.isMaximized">call_made</mat-icon>
                            </button>    
                        </div>
                        <div>
                            <button class="mat-btn-exit" mat-stroked-button (click)="dialog.openDialog = false;">
                                <mat-icon class="bnt-close">close</mat-icon>
                            </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <!-- <div class="form-wrapper" *ngIf="(dialogState$ | async) === 'customizeColumnForm'">
                    <form [formGroup]="customizeColumnForm">
                        <div class="common">
                        <div class="column-a">
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="position_code" label="Код позиции потребности"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="position_name" label="Наименование позиции потребности"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="code_wbs" label="Код СДР"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="need_type" label="Тип потребности"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="need_basis" label="Основание потребности"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="document_type" label="Тип документа основания"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="document_create_date" label="Дата создания документа основания"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="document_change_date" label="Дата изменения документа основания"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="card_status" label="Статус карточки потребности"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="document_comment" label="Комментарий к документу основанию"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="nsi_code" label="Код НСИ"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="nomenclature_nsi_name" label="Название номенклатуры НСИ"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="nomenclature_inner_manual" label="Номенклатура по внутреннему справочнику"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="lot" label="Лот"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="purchase_type" label="Вид закупки"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="producer_type" label="Тип поставщика"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="typical_delivery_time" label="Типовой срок доставки"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="master_plan_number" label="Номер на генплане"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="position_documents" label="Документы позиции"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="count" label="Количество"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="unit" label="Ед.измерения"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="design_source_data" label="Исходные данные для проектирования"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="questionnaire" label="ТхС. Опросный лист"></p-checkbox>
                            </span>
                            <button mat-stroked-button class="bnt-save" (click)="this">
                                <span class="save-color">Сохранить</span>
                            </button>
                        </div>
                        </div>
                    </form>
                </div> -->
                <div class="form-wrapper" *ngIf="(dialogState$ | async) === 'addNeedPosition' || (dialogState$ | async) === 'editNeedPosition'">
                    <form [formGroup]="needPositionForm">
                        <div class="common">
                            <div class="column-a">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" aria-describedby="float-input-help" pInputText class="p-inputtext-sm lg" formControlName="title"> 
                                    <label for="float-input">Название позиции потребности:</label>
                                </span>
                                <p-message *ngIf="!needPositionForm.get('title')?.value && needPositionForm.get('title')?.dirty" severity="error" [text]="'Поле не может быть пустым'"></p-message>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="positionStatuses" [ngModel]="curStatus" optionLabel="title" optionValue="id" formControlName="status"></p-dropdown>
                                    <label for="float-input">Статус:</label>
                                </span>
                                <!-- <span class="p-float-label">
                                    <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="status"> 
                                    <label for="float-input">Тип потребности:</label>
                                </span> -->
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="positionDocumentTypes" optionLabel="title" optionValue="id" formControlName="type_need_position"></p-dropdown>
                                    <label for="float-input">Тип документа основания:</label>
                                </span>
                                <!-- <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="documentNamesCodes" formControlName="documentCreds"></p-dropdown>
                                    <label for="float-input">Название и номер документа основания:</label>
                                </span> -->
                                <!-- <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="responsibles" [ngModel]="curResp" optionLabel="name_full" optionValue="id" formControlName="responsible"></p-dropdown>
                                    <label for="float-input">Ответственный:</label>
                                </span> -->
                                <span class="p-float-label">
                                    <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="note"> 
                                    <label for="float-input">Комментарий:</label>
                                </span>
                                <button *ngIf="(dialogState$ | async) === 'addNeedPosition'" mat-stroked-button class="bnt-save" (click)="addNeedPosition(needPositionForm.value); dialog.openDialog = false; this.needPositionForm.reset()" [disabled]="!needPositionForm.get('title')?.value">
                                    <span class="save-color">Создать</span>
                                </button>
                                <button *ngIf="(dialogState$ | async) === 'editNeedPosition'" mat-stroked-button class="bnt-save" (click)="editNeedPosition(needPositionForm.value); dialog.openDialog = false; this.needPositionForm.reset()" [disabled]="!needPositionForm.get('title')?.value">
                                    <span class="save-color">Редактировать</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-wrapper" *ngIf="(dialogState$ | async) === 'editNeedBasis'">
                    <form [formGroup]="needBasisForm">
                        <div class="common">
                            <div class="column-a">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" aria-describedby="float-input-help" pInputText class="p-inputtext-sm lg" formControlName="title"> 
                                    <label for="float-input">Название основания потребности:</label>
                                </span>
                                <p-message *ngIf="!needBasisForm.get('title')?.value && needBasisForm.get('title')?.dirty" severity="error" [text]="'Поле не может быть пустым'"></p-message>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="reasonStatuses" [ngModel]="curStatus" optionLabel="title" optionValue="id" formControlName="status"></p-dropdown>
                                    <label for="float-input">Статус:</label>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="reasonDocumentTypes" [ngModel]="curDoc" optionLabel="title" optionValue="id" formControlName="type_document"></p-dropdown>
                                    <label for="float-input">Тип документа основания:</label>
                                </span>
                                <span *ngIf="(dialogState$ | async) === 'addNeedBasis'" class="p-float-label">
                                    <button mat-stroked-button class="chevron" type="button"
                                        aria-controls="addScrolling" (click)="fileInput.click()">
                                        <span class="d-flex align-items-center">Загрузить файл<mat-icon>upload_file</mat-icon>
                                        </span>
                                    </button>
                                    <input style="visibility: hidden;" id="float-input" (change)="onFileSelected($event)" type="file" #fileInput/>
                                </span>
                                <p-message *ngIf="filenameErr" severity="error" [text]="'Название файла не может содержать символы кириллицы'"></p-message>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="responsibles" [ngModel]="curResp" optionLabel="name_full" optionValue="id" formControlName="responsible"></p-dropdown>
                                    <label for="float-input">Ответственный:</label>
                                </span>
                                <span class="p-float-label">
                                    <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="note"> 
                                    <label for="float-input">Комментарий:</label>
                                </span>
                                <button mat-stroked-button class="bnt-save" (click)="editNeedBasis(needBasisForm.value); dialog.openDialog = false; this.needBasisForm.reset()"  [disabled]="!needBasisForm.get('title')?.value">
                                    <span class="save-color">Редактировать</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </p-dialog>
        </div>
    </div>
</div>  