<app-header></app-header>
<div class="wrapper-fluid">
    <div class="row" style="display: flex;">
       <div class="menu-max" [ngClass]="{ 'menu-content': menu.isCollapsed,'full-menu-min': menu.isFull }">
        <app-menu></app-menu>
       </div>
       <div class="wapper-content" [ngClass]="{ 'content-min': menu.isCollapsed }">
            <section>
                <div class="wrapper-tools">
                    <div class="tools-item">
                        <h2 class="item-title">Категории</h2>
                        <span class="item-description">Информационный раздел</span>
                    </div>
                    <div class="tools-item" style="display: flex;">
                        <!-- <button mat-button matTooltip="Добавить объект" class="bnt-tools-style-a" (click)="dialog.isOpen();addSection_1()">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                            </span>
                        </button> -->
                    </div>
                </div>
            </section>
            <div class="content">

            </div>
            <div class="static-bar"></div>
          </div>
      </div>
  </div>