<app-header></app-header>
<div class="wrapper-fluid">
    <div class="row" style="display: flex;">
        <div class="menu-max" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }">
            <app-menu></app-menu>
        </div>
        <div class="wapper-content" [ngClass]="{ 'content-min': menu.isCollapsed }">
            <section>
                <div class="wrapper-tools">
                    <div class="tools-item">
                        <h2 class="item-title">Потребность </h2>
                        <span class="item-description">Информационный раздел</span>
                    </div>
                    <div class="tools-item" style="display: flex;">
                        <button mat-button matTooltip="Добавить основание потребности" class="bnt-tools-style-a" (click)="openAddNeedBasisDialog()">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                                Добавить основание потребности
                            </span>
                        </button>
                        <!-- <button mat-button matTooltip="Добавить позицию потребности" class="bnt-tools-style-a" (click)="openAddNeedPositionDialog()">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                                Добавить позицию потребности
                            </span>
                        </button> -->
                        <button mat-button matTooltip="Загрузить документ" class="bnt-tools-style-a" (click)="goDownloading()">
                            <span style="text-align: center;">
                                <mat-icon>cloud_upload</mat-icon>
                                Загрузить документ
                            </span>
                        </button>
                        <button mat-button matTooltip="Пакетная загрузка" class="bnt-tools-style-a" (click)="this">
                            <span style="text-align: center;">
                                <mat-icon>library_add</mat-icon>
                                Пакетная загрузка
                            </span>
                        </button>
                    </div>
                </div>
            </section>
            <div class="content">
                <p-tabView>
                    <p-tabPanel header="РЕЕСТР ОСНОВАНИЙ">
                        <app-reasons-register-table [dataSource]="reasons" (onEdit)="openEditNeedBasisDialog($event)" (onDelete)="deleteReason($event); getReasons()"></app-reasons-register-table>
                    </p-tabPanel>   
                    <p-tabPanel header="РАСПРЕДЕЛЕНИЕ ПО СДР">
                    </p-tabPanel>
                    <p-tabPanel header="РЕЕСТР ПОЗИЦИЙ ПОТРЕБНОСТИ">
                        <app-need-items-register-table [dataSource]="needPositions" (onEdit)="openEditNeedPositionDialog($event)" (onDelete)="deleteNeedPosition($event); getNeedPositions()"></app-need-items-register-table>
                    </p-tabPanel>
                </p-tabView>
            </div>
            <div class="static-bar"></div>

            <p-dialog header="Header" 
                styleClass="modal-element" 
                [style]="{ 'width': dialog.isMaximized ? '100vw' : '30vw' }" 
                [(visible)]="dialog.openDialog" 
                [position]="dialog.position" 
                [draggable]="false" 
                [maximizable]="false" 
                [closable]="false"
                [modal]="false">
                <ng-template pTemplate="header">
                    <div class="header-d-flex">
                        <div>
                            <h2>{{ dialogs.get(dialogStateSubj.value) }}</h2>
                        </div>
                    <div class="button-d-flex">
                        <div>
                            <button class="mat-btn-resize" (click)="dialog.toggleMaximize()">
                                <mat-icon *ngIf="dialog.isMaximized">call_received</mat-icon>
                                <mat-icon *ngIf="!dialog.isMaximized">call_made</mat-icon>
                            </button>    
                        </div>
                        <div>
                            <button class="mat-btn-exit" mat-stroked-button (click)="dialog.openDialog = false; this.curStatus = null;this.curResp = null;this.curDoc = null; this.reasonForm.reset()">
                                <mat-icon class="bnt-close">close</mat-icon>
                            </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <div class="form-wrapper" *ngIf="(dialogState$ | async) === 'customizeColumnForm'">
                    <form [formGroup]="customizeColumnForm">
                        <div class="common">
                        <div class="column-a">
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="position_code" label="Код позиции потребности"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="position_name" label="Наименование позиции потребности"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="code_wbs" label="Код СДР"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="need_type" label="Тип потребности"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="need_basis" label="Основание потребности"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="document_type" label="Тип документа основания"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="document_create_date" label="Дата создания документа основания"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="document_change_date" label="Дата изменения документа основания"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="card_status" label="Статус карточки потребности"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="document_comment" label="Комментарий к документу основанию"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="nsi_code" label="Код НСИ"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="nomenclature_nsi_name" label="Название номенклатуры НСИ"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="nomenclature_inner_manual" label="Номенклатура по внутреннему справочнику"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="lot" label="Лот"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="purchase_type" label="Вид закупки"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="producer_type" label="Тип поставщика"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="typical_delivery_time" label="Типовой срок доставки"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="master_plan_number" label="Номер на генплане"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="position_documents" label="Документы позиции"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="count" label="Количество"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="unit" label="Ед.измерения"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="design_source_data" label="Исходные данные для проектирования"></p-checkbox>
                            </span>
                            <span style="margin-bottom: 15px;display: block;">
                                <p-checkbox name="is_default" binary="true" formControlName="questionnaire" label="ТхС. Опросный лист"></p-checkbox>
                            </span>
                            <button mat-stroked-button class="bnt-save" (click)="this">
                                <span class="save-color">Сохранить</span>
                            </button>
                        </div>
                        </div>
                    </form>
                </div>
                <!-- <div class="form-wrapper" *ngIf="(dialogState$ | async) === 'addNeedPosition'">
                    <form [formGroup]="needPosition">
                        <div class="common">
                            <div class="column-a">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="name"> 
                                    <label for="float-input">Наименование позиции:</label>
                                </span>
                                <span class="p-float-label">
                                    <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="needType"> 
                                    <label for="float-input">Тип потребности:</label>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="documentTypes" formControlName="documentType"></p-dropdown>
                                    <label for="float-input">Тип документа основания:</label>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="documentNamesCodes" formControlName="documentCreds"></p-dropdown>
                                    <label for="float-input">Название и код документа основания:</label>
                                </span>
                                <button mat-stroked-button class="bnt-save" (click)="addNeedPosition()">
                                    <span class="save-color">Создать</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div> -->
                <div class="form-wrapper" *ngIf="(dialogState$ | async) === 'addNeedBasis' || (dialogState$ | async) === 'editNeedBasis'">
                    <form [formGroup]="reasonForm">
                        <div class="common">
                            <div class="column-a">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" aria-describedby="float-input-help" pInputText class="p-inputtext-sm lg" formControlName="title"> 
                                    <label for="float-input">Название основания потребности:</label>
                                </span>
                                <p-message *ngIf="!reasonForm.get('title')?.value && reasonForm.get('title')?.dirty" severity="error" [text]="'Поле не может быть пустым'"></p-message>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="reasonStatuses" [ngModel]="curStatus" optionLabel="title" optionValue="id" formControlName="status"></p-dropdown>
                                    <label for="float-input">Статус:</label>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="reasonDocumentTypes" [ngModel]="curDoc" optionLabel="title" optionValue="id" formControlName="type_document"></p-dropdown>
                                    <label for="float-input">Тип документа основания:</label>
                                </span>
                                <span *ngIf="(dialogState$ | async) === 'addNeedBasis'" class="p-float-label">
                                    <button mat-stroked-button class="chevron" type="button"
                                        aria-controls="addScrolling" (click)="fileInput.click()">
                                        <span class="d-flex align-items-center">Загрузить файл<mat-icon>upload_file</mat-icon>
                                        </span>
                                    </button>
                                    <input style="visibility: hidden;" id="float-input" (change)="onFileSelected($event)" type="file" #fileInput/>
                                </span>
                                <p-message *ngIf="filenameErr" severity="error" [text]="'Название файла не может содержать символы кириллицы'"></p-message>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="responsibles" [ngModel]="curResp" optionLabel="name_full" optionValue="id" formControlName="responsible"></p-dropdown>
                                    <label for="float-input">Ответственный:</label>
                                </span>
                                <span class="p-float-label">
                                    <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="note"> 
                                    <label for="float-input">Комментарий:</label>
                                </span>
                                <button *ngIf="(dialogState$ | async) === 'addNeedBasis'" mat-stroked-button class="bnt-save" (click)="addReason(reasonForm.value); dialog.openDialog = false; this.reasonForm.reset()" [disabled]="!reasonForm.get('title')?.value || filenameErr">
                                    <span class="save-color">Создать</span>
                                </button>
                                <button *ngIf="(dialogState$ | async) === 'editNeedBasis'" mat-stroked-button class="bnt-save" (click)="editReason(reasonForm.value); dialog.openDialog = false; this.reasonForm.reset()" [disabled]="!reasonForm.get('title')?.value">
                                    <span class="save-color">Редактировать</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-wrapper" *ngIf="(dialogState$ | async) === 'addNeedPosition' || (dialogState$ | async) === 'editNeedPosition'">
                    <form [formGroup]="needPosition">
                        <div class="common">
                            <div class="column-a">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" aria-describedby="float-input-help" pInputText class="p-inputtext-sm lg" formControlName="title"> 
                                    <label for="float-input">Название позиции потребности:</label>
                                </span>
                                <p-message *ngIf="!needPosition.get('title')?.value && needPosition.get('title')?.dirty" severity="error" [text]="'Поле не может быть пустым'"></p-message>
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="positionStatuses" [ngModel]="curStatus" optionLabel="title" optionValue="id" formControlName="status"></p-dropdown>
                                    <label for="float-input">Статус:</label>
                                </span>
                                <!-- <span class="p-float-label">
                                    <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="status"> 
                                    <label for="float-input">Тип потребности:</label>
                                </span> -->
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="positionDocumentTypes" optionLabel="title" optionValue="id" formControlName="type_need_position"></p-dropdown>
                                    <label for="float-input">Тип документа основания:</label>
                                </span>
                                <!-- <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="documentNamesCodes" formControlName="documentCreds"></p-dropdown>
                                    <label for="float-input">Название и номер документа основания:</label>
                                </span> -->
                                <span class="p-float-label">
                                    <p-dropdown id="float-input" class="p-inputtext-sm lg" [options]="responsibles" [ngModel]="curResp" optionLabel="name_full" optionValue="id" formControlName="responsible"></p-dropdown>
                                    <label for="float-input">Ответственный:</label>
                                </span>
                                <span class="p-float-label">
                                    <input id="float-input" type="text" pInputText class="p-inputtext-sm lg" formControlName="note"> 
                                    <label for="float-input">Комментарий:</label>
                                </span>
                                <button *ngIf="(dialogState$ | async) === 'addNeedPosition'" mat-stroked-button class="bnt-save" (click)="addNeedPosition(needPosition.value); dialog.openDialog = false; this.needPosition.reset()" [disabled]="!needPosition.get('title')?.value">
                                    <span class="save-color">Создать</span>
                                </button>
                                <button *ngIf="(dialogState$ | async) === 'editNeedPosition'" mat-stroked-button class="bnt-save" (click)="editNeedPosition(needPosition.value); dialog.openDialog = false; this.needPosition.reset()" [disabled]="!needPosition.get('title')?.value">
                                    <span class="save-color">Редактировать</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </p-dialog>
        </div>
    </div>
</div>  